/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

/* core — сердцевина;
contour — контур;
main-body — основное тело сердца;
sparks — искры вокруг. */

/* основные */
.card__icon-button {
  display: inline-flex;
  align-items: center;
  max-height: 38px;
  /* margin-block-start: 4px; */
  border: var(--border-transparent);
  padding: 2px;
  outline: none;
  background: none;
  transition: border-color 0.3s ease;
}

.heart .main-body {
  fill: var(--transparency-heart);
  transition: fill 0.3s;
  transition-delay: 0s;
  transform: linear;
}

.heart .core {
  fill: var(--transparency-heart);
  transition: fill 0.3s;
  transform: linear;
  transition-delay: 0.03s;
}

.like-icon .contour {
  fill: var(--heart-contour);
  transition: fill 0.1s;
  transition-delay: 0s;
  transform: linear;
}

.button::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 0;
  border: var(--border-section);
  color: #808080;
  background-color: var(--dark-color);
  transition: transform 0.5s ease-in-out;
  transform: translateX(-100%);
}

.button:hover::before {
  transform: translateX(0);
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  border: var(--border-section);
  box-shadow: 2px 2px rgba(0, 0, 0, 1);
}

.card__icon-button:focus-visible {
  border: var(--border-section);
}

/* hover */
.heart:hover .main-body {
  fill: var(--heart-contour) rgba(0, 0, 0, 1);
  transition: fill 0.3s 0.05s linear;
}

.heart:hover .core {
  fill: var(--heart-filling-hover);
  transition-delay: 0s;
}

/* :active */

.heart:active .main-body {
  fill: var(--heart-filling-active);
  transition-delay: 0.05s;
  transition-duration: 0.3s;
}

.heart:active .core {
  fill: var(--heart-filling-active);
  transition-delay: 0s;
  transition-duration: 0.3s;
}

/* is-liked */
.like-icon.is-liked .main-body {
  fill: var(--heart-is-liked);
  transition-delay: 0.05s;
  transition-duration: 0.3s;
  transform: linear;
  transition:linear;
}

.like-icon.is-liked .core {
  fill: var(--heart-is-liked);
  transition-delay: 0s;
  transition-duration: 0.3s;
  transform: linear;
}

.like-icon.is-liked .contour {
  fill: var(--heart-is-liked);
  transition-delay: 0.06s;
  transition-duration: 0.3s;
  transform: linear;
}

@keyframes scale-heart {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.25);
  }

  100% {
    transform: scale(1);
  }
}

.like-icon.is-liked .heart {
  transform-origin: center;
  animation-name: scale-heart;
  animation-delay: 0.1s;
  animation-direction: alternate;
  animation-duration: 0.3s;
}

@keyframes sparks-opacity {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/* Становятся видимыми искры */
.like-icon.is-liked .sparks {
  fill: var(--heart-is-liked);
  animation: sparks-opacity 0.3s ease-in 0.3s forwards;
}