/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: var(--content-max-width);
  color: var(--text-color) rgb(0 0 0 / 1);
  font-family: var(--main-font, 'Inter', sans-serif);
  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  font-variation-settings: 'wght' var(--text-weight);
}

button {
  cursor: pointer;
}

@supports (font-variation-settings: normal) {
  body {
    font-family: var(--main-font);
  }
}

.header {
  padding-block: clamp(100px, calc(98px + (2 / 1065) * (100vw - 375px)), 102px);
}

.header_title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 33px;
  border: var(--border-section);
  padding-inline: clamp(14px,
      calc(14px + (120.5 - 14) * ((100vw - 375px) / (1440 - 375))),
      120.5px);
  padding-block: clamp(120px, 15vw, 134px);
  background-color: var(--light-color);
  inline-size: clamp(var(--content-min-width), 100%, var(--content-max-width));
}

h1 {
  font-family: var(--font-accent, 'PressStart2P', fantasy);
  font-weight: 400;
  font-size: clamp(3.0625rem, 2.7036rem + 1.5311vw, 4.0625rem);
  line-height: 49px;
  text-align: left;
  text-decoration-skip-ink: none;
  text-underline-position: from-font;
}

.header_text {
  font-family: var(--font-accent, 'PressStart2P', fantasy);
  font-weight: 400;
  font-size: clamp(0.875rem, 0.6731rem + 0.8612vw, 1.4375rem);
  line-height: 14px;
  text-align: left;
  text-transform: uppercase;
}

h2 {
  font-size: var(--font-size);
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  font-size: var(--font-size);
  inline-size: clamp(0px, calc(48.33vw), 696px);
}

.section {
  display: flex;
  flex-direction: column;
  border: var(--border-section);
  background-color: var(--light-color);
  inline-size: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
}

.card_titile {
  border-bottom: var(--border-section);
  padding: 5px 10px;
  font-variation-settings: 'wght' var(--title-weight);
}

.card_img {
  position: relative;
  block-size: clamp(0px, 99vw, 699px);
}

.card_img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-size: cover;
}

.filter_brightness {
  filter: brightness(50%);
}

.filter_contrast {
  filter: contrast(95%);
}

.filter_opacity {
  filter: opacity(0.9);
}

.filter_grayscale {
  filter: grayscale(0.2);
}

.filter_rotate {
  filter: hue-rotate(-90deg);
}

.filter_sepia {
  filter: sepia(80%);
}

.filter_invert {
  filter: invert(0.1);
}

.filter_opacity_brightness {
  filter: opacity(1) brightness(50%);
}

.card_text_element {
  position: absolute;
  z-index: 2;
  opacity: 0.5;
  color: rgb(0 0 0 / 1);
  font-family: var(--font-accent, 'PressStart2P', fantasy);
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-shadow: 1px 1px 2px var(--outline-color);
  inset-inline-end: 26px;
  inset-block-start: 28px;
  mix-blend-mode: hard-light;
}

@supports (text-stroke: 1px var(--outline-color)) {
  .card_text_element {
    text-shadow: none;
    text-stroke: 1px var(--outline-color);
  }
}

@supports (-webkit-text-stroke: 1px var(--outline-color)) {
  .card_text_element {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--outline-color);
  }
}

.paragraph {
  display: flex;
  flex-direction: column;
  gap: 24px;
  border-top: var(--border-section);
  padding: 25px;
  padding-block-end: 28px;
}

.card_text {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: left;
}

.card_like {
  padding-inline-end: 24px;
  padding-block-end: 23px;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
  gap: 4px;
  transition: box-shadow 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.like-icon {
  display: inline;
  border: var(--border-transparent);
  fill: currentColor;
}

.card__like-button {
  text-transform: capitalize;
}

.card__like-button.is-liked {
  padding: 6.5px 35px;
  font-size: 14px;
  inline-size: 133px;
}

.button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 6px;
  border: var(--border-section);
  padding-inline: 0;
  box-shadow: 2px 2px transparent;
  outline: none;
  overflow: hidden;
  color: var(--light-color);
  font-size: 14px;
  background-color: var(--light-color);
  min-block-size: 38px;
  max-block-size: 55px;
  min-inline-size: 130px;
  inline-size: 133px;
}

.button span,
.button svg {
  position: relative;
  z-index: 1;
  border: 2px solid var(--dark-color);
  mix-blend-mode: difference;
}

.sparks {
  opacity: 0;
}

.button__text {
  position: relative;
  z-index: 3;
  font-family: var(--font-accent, 'PressStart2P', fantasy);
  font-size: 14px;
  line-height: 12.6px;
}

h4 {
  font-size: 14px;
}

.button__dialog {
  padding-bottom: clamp(100px, 100px + 0.28vw, 103px);
  padding-left: 2px;
}

.button__dialog .button:first-child {
  padding-block: 10px;
  inline-size: clamp(306px,
      calc(306px + (335 - 306) * ((100vw - 375px) / (1440 - 375))),
      335px);
}

/* Общий стиль модального окна */

.main_dialog {
  position: fixed;
  display: none;
  margin: auto;
  border: var(--border-section);
  padding-inline: clamp(30px,
      calc(30px + (42 - 30) * ((100vw - 375px) / (1440 - 375))),
      42px);
  padding-block: 30px;
  box-shadow: 0 4px 6px rgb(0 0 0 / 0.1);
  overflow: hidden;
  line-height: 21px;
  text-transform: uppercase;
  background: var(--light-color);
  inline-size: clamp(341px,
      calc(341px + (353 - 341) * ((100vw - 375px) / (1440 - 375))),
      353px);
  inset-block: 50%;
}

/* Открытое состояние диалога */

.main_dialog[open] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Стили для заднего слоя */

.main_dialog::backdrop {
  background: rgb(0 0 0 / 1);
}

/* Контент модального окна */

.dialog-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.save_button_cmd_close {
  border: var(--border-section);
  background-color: transparent;
  inline-size: clamp(257px,
      calc(246px + (293 - 257) * ((100vw - 375px) / (1440 - 375))),
      293px);
  block-size: 38px;
}

.text-transform {
  line-height: 21px;
}

.buttons_dialog {
  gap: 20px;
  padding-bottom: 30px;
}

body:has(.save_button [open]) {
  overflow: hidden;
}

.main_dialog [open] {
  translate: 0;
}

.main_dialog[open]::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.main_dialog .button__text {
  line-height: 21px;
}

.save_svg {
  width: 24px;
  height: 32px;
}

.dialog_svg {
  width: 100px;
}

@media (width <=376px) {
  .page {
    padding-inline-start: 0;
    padding-inline-end: 0;
  }

  .header {
    padding-inline: 0;
    inline-size: 100%;
  }

  .header_title {
    gap: 22px;
  }

  .main {
    gap: 51px;
  }

  .card_text_element {
    inset-inline-end: 13px;
    inset-block-start: 25px;
  }

  .paragraph {
    gap: 27px;
    padding-inline: 26px;
    padding-block-start: 24px;
    padding-block-end: 25px;
  }

  .card_like {
    gap: 4px;
    padding-inline-end: 24.5px;
    padding-block-end: 24.5px;
  }

  .button {
    flex-direction: column;
    padding-block: 9px;
    inline-size: 131px;
  }

  .button__dialog .button:first-child {
    gap: 4px;
    padding-inline-end: 4px;
    max-block-size: 84px;
  }

  .save_svg {
    padding-block-start: 2px;
    min-inline-size: 38px;
  }
}